* {
    box-sizing: border-box;
  }

  html,body{
    margin:0;
    padding:0;
  }
  
  footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background:#ccc;
  }

  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  .nav-link {
    margin-right: 10px;
  }
  
  header {
    padding: 2%;
  }
  
  section {
    height: 100%;
    padding-bottom: 3%;
    background-color: #bbb;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }
  
  .results-section{
    margin-top: 60px;
    margin-bottom: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .results {
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;   
  }
  
  ul {
    list-style: none;
    text-align: left;
  }
  
  li {
    padding: 3%;
    margin-top: 4px;
    margin-bottom: 4px;
    border: solid lightgray 1px;
    font-size: 13px;
  }
  
  .results-list{
    display: flex;
  }

  .far{
    display: flex;
    font-size: 20px;
  }

  footer {
    bottom: 0;
  }